@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


#sticky{
    top:0%;
    position: sticky;
}
body{
    width: 100%;
    height: 100%;
    border: none;
    margin: 0px;
    background-color: black;
    overflow: hidden;
    position: relative;
    scrollbar-color: rgba(56, 255, 228, 0.88) black;
}
#help{
    display: block;
    font-family: 'Ubuntu', 'Times New Roman';
    font-weight: bold;
    margin-top: 0;
    margin-bottom: -2%;
    margin-left: -35vw;
    float: bottom;
    width: 35vw;
    height: 100vh;
    color:rgba(255, 255, 255, 0);
    background-color: rgba(56, 255, 228, 0.5);
    position: absolute;
    padding-left: 0;
    padding-right: 0.2vw;
    z-index: 2;
    cursor: default;
    transition:150ms ease-in-out;
    overflow:hidden;
    direction: rtl;
}
#help s{
    cursor: not-allowed;
    color: gray;
}
#help:hover{
    color: rgba(255, 255, 255, 0.88);
    padding-right: 4px;
    margin-left: 0%;
    transition: 150ms ease-in-out;
    overflow: scroll;
    overflow-x: hidden;
    background-color: rgba(56, 255, 228, 0.88);
}
#schedule{
    display: block;
    font-family: 'Ubuntu', 'Times New Roman';
    font-weight: bold;
    margin-top: 0;
    margin-bottom: -2%;
    margin-left: 99.8vw;
    float: bottom;
    width: 35vw;
    height: 100vh;
    color:rgba(255, 255, 255, 0);
    background-color: rgba(56, 255, 228, 0.5);
    position: absolute;
    padding-left: 1.5vw;
    z-index: 2;
    cursor: default;
    transition:150ms ease-in-out;
    overflow:hidden;
}
#schedule:hover{
    padding-left: 0%;
    background-color: rgba(56, 255, 228, 0);
    margin-left: 65vw;
    transition:150ms ease-in-out;
    overflow: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}
#videoplayer{
    overflow:hidden;
    width: 100vw;
    height: 100vh;
    float: right;
    position: absolute;
    z-index: 0;
    left: 0%;
    top: 0%;
}
.channel-button{
    direction: ltr;
    width: 100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 255);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    transition: 100ms ease-out;
}
.channel-button:hover{
    transition: 50ms ease-in-out;
    background-color: gray;
}
.channel-button:active {
    background-color: black;
    color: white;
    transition: 10ms ease-out;
}
.gentitle{
    direction: ltr;
    text-decoration: underline;
}
.genselect{
    outline: 10px solid rgba(255, 255, 255, 0);
    direction: ltr;
    margin-left: 1%;
    padding-left: 3%;
    padding-right: 3%;
    transition: 100ms ease-out;
}
.genselect:hover{
    outline: 5px solid white;
    transition:50ms ease-in;
}
