:root{
    --background-index:2;
    --header-index:2;
    --search-index:4;
    --alert-index:5;
    --dim-index:2;
    --window-index:2;
    --transition-duration:300ms;
    --color-primary:rgb(32, 32, 32);
    --color-secondary:rgb(90, 90, 90);
    --color-accent:rgb(204, 125, 51);
}

/* ================================================= */

.mediaBGDim{
    background-color: rgba(0, 0, 0, 0.727); 
    /* backdrop-filter: blur(0px); */
    width: 100%; 
    height: 100%; 
    position: fixed; 
    z-index: var(--dim-index);
}

video{
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
    /* z-index: 999; */
    /* aspect-ratio: 16/9; */
}

/* ================================================= */

.hidden{
    pointer-events: none !important;
    cursor: default !important;
    opacity: 0 !important;
}

.disabled{
    cursor: not-allowed !important;
    color: rgb(83, 83, 83) !important;
    pointer-events: none;
}

.notImplemented{
    display: none;
    pointer-events: none;
}

/* ================================================= */

.vidContainer{
    /* border: 1px red dashed; */
    aspect-ratio: 16/9;
    /* width: 70vw; */
    background: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    overflow: hidden;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    border-radius: 10px;
    /* outline: 1px yellow dotted; */
    /* pointer-events: none; */
}

.vidcontrols{
    background-color: rgba(15, 15, 15, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
    display: flex;
    cursor: auto;
    opacity: 1;
    transition: opacity 100ms ease;
    z-index: 2;
    /* overflow: hidden; */
}

.vidcontrols span{
    aspect-ratio: 1/1;
    /* border: 1px pink dotted; */
    border-radius: 5px;
    background-color: var(--color-primary);
    margin: 5px;
    box-shadow: 0px 5px 2px rgba(27, 27, 27, 0.774);
    cursor: pointer;
}

.vidcontrols > #play-container{
    /* border: 1px aquamarine dashed; */
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.5;
    /* overflow: hidden; */
}

.vidcontrols > #progress-container{
    /* border: 1px purple dashed; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 10;
    position: relative;
    overflow: visible;
    min-width: 42px;
}.vidcontrols > #progress-container > input{
    /* border: 1px orangered dashed; */
    color: red;
    opacity: 0%;
    /* background: transparent; */
    width: 95%;
    z-index: 2;
    margin: 0;
    /* -webkit-appearance: none; */
}.vidcontrols > #progress-container > input[value]:not([value=""]):hover{
    /* border: 1px orangered dashed; */
    opacity: 100%;
    /* background: transparent; */
    width: 95%;
    z-index: 2;
    margin: 0;
    /* -webkit-appearance: none; */
}.vidcontrols > #progress-container > progress{
    /* border: 1px rgb(40, 173, 0) dashed; */
    width: 95%;
    accent-color: var(--color-primary);
    position: absolute;
    z-index: 1;
    pointer-events: none;
}.vidcontrols > #progress-container > #progressStatus{
    width: 100%;
    min-width: 42px;
    height: fit-content;
    /* border: 1px cyan dotted; */
    position: absolute;
    bottom: 45;
    text-align: center;
    background-color: var(--color-primary);
    padding: 5px;
    border-radius: 5px;
    overflow: hidden;
    opacity: 50%;
}

.vidcontrols > #volume-container{
    /* border: 1px yellow dashed; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 3;
    /* overflow: hidden; */
}

.vidcontrols > #controls-container{
    /* border: 1px green dashed; */
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    /* overflow: hidden; */
}

.vidcontrols > #fullscreen-container{
    /* border: 1px orange dashed; */
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0.5;
    /* overflow: hidden; */
}

.vidSettingOverlay{
    width: 30%;
    height: fit-content;
    max-height: 30vh;
    max-width: 25vw;

    /* border: 1px mediumslateblue dashed; */
    border-radius: 5px 0px 0px 5px;

    position: absolute;
    z-index: 3;
    bottom: 40;
    right: 0;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--color-primary);
    color: white;
    opacity: 75%;
}.vidSettingOverlay > .settingItems{
    width: 100%;
    height: fit-content;
    /* border: 1px springgreen dashed; */
    padding: 5px;
}

.bufferOverlay{
    pointer-events: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(134, 76, 0, 0);
    -webkit-backdrop-filter: blur(2px) grayscale();
    backdrop-filter: blur(2px) grayscale();
    display: grid;
    z-index: 2;
}

/* =================================================== */

/* https://blog.logrocket.com/creating-custom-css-range-slider-javascript-upgrades/ */
.vidContainer > .vidcontrols > * > input[type="range"] {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    width: 100%;
    height: 12px;
    cursor: pointer;
    outline: none;
    /*  slider progress trick  */
    overflow: hidden;
    border-radius: 16px;
    border: 1px white solid;
    background: transparent;
}

/* Track: webkit browsers */
.vidContainer > .vidcontrols > * > input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    background: #ccc;
    border-radius: 16px;
    transition: 50ms ease-out;
}

/* Track: Mozilla Firefox */
.vidContainer > .vidcontrols > * > input[type="range"]::-moz-range-track {
    height: 10px;
    background: #ccc;
    border-radius: 16px;
    /* overflow: hidden; */
}

/* Thumb: webkit */
.vidContainer > .vidcontrols > * > input[type="range"]::-webkit-slider-thumb {
    /* removing default appearance */
    -webkit-appearance: none;
    appearance: none;
    /* creating a custom design */
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #6200ff;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px #6200ff;
    transition: 50ms ease-out;
}
.vidContainer > .vidcontrols > * > input[type="range"]:hover::-webkit-slider-thumb {
    /* height: 15px; */
    border-radius: 5px;
    width: 15px;
    transition: 50ms ease-out;
}

/* Thumb: Firefox */
.vidContainer > .vidcontrols > * > input[type="range"]::-moz-range-thumb {
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #6200ff;
    /*  slider progress trick  */
    box-shadow: -407px 0 0 400px #6200ff;
}